@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #030014; /* dark.bg */
  color: #e2e8f0;
  font-family: 'Inter', system-ui, sans-serif;
  overflow-x: hidden; /* Evita scroll horizontal indeseado */
}

/* Scrollbar personalizado */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #030014;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-behavior: smooth;
}